body {
  background-color: #FAFBFC;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 20px 20px 0 20px;
}

.box {
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col.left-col {
  width: 100%;
  order: 2;
}

.col.right-col {
  width: 100%;
  order: 1;
}

.box .box-head {
  font-size: 18px;
  font-weight: 400;
  color: #1E1950;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box .box-content {
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgb(163 171 180 / 20%);
  border-radius: 12px;
  padding: 20px;
}

.position {
  position: relative;
  color: #FF893A;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.position::after {
  content: '';
  background: #8B899D;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
  height: 1px;
}

.title {
  color: #1E1950;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
  letter-spacing: 0.5px;
}

.sub-title {
  color: #585665;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
  letter-spacing: 0.5px;
}

.text {
  color: #585665;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.5px;
}

.text-center {
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  display: block;
  margin: 0 auto 20px auto;
}

.timeline-item {
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.timeline-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.timeline-item .date {
  position: relative;
  width: 160px;
  color: #585665;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.timeline-item .content {
  width: 100%;
}

.timeline-item .headline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.timeline-item .headline .title {
  margin-bottom: 0;
}

.timeline-item .text {
  margin-bottom: 0;
}

.timeline-item:hover .date::before {
  opacity: 1;
}

.timeline-item .buttons {
  margin-top: 20px;
}

.timeline-item .buttons .button {
  margin-right: 10px;
}

.badge {
  background-color: #D8D4F1;
  color: #422FBD;
  padding: 6px 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  margin-left: 15px;
  letter-spacing: 0.3px;
  text-align: center;
}

.badge.success {
  background-color: #FDECE7;
  color: #F4501D;
}

.progress {
  margin-bottom: 40px;
}

.progress:last-child {
  margin-bottom: 20px;
}

.progress .label {
  font-size: 18px;
  color: #454162;
  display: block;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.progress .bar {
  background-color: #D8D4F1;
  height: 6px;
  border-radius: 3px;
}

.progress .bar span {
  position: relative;
  background-color: #422FBD;
  display: block;
  height: 100%;
  border-radius: 3px;
}

.progress .bar span::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 4px solid #422FBD;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: -15px;
  margin: auto;
}

.progress .bar span::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #422FBD;
  top: 0;
  bottom: 0;
  right: -21px;
  margin: auto;
  opacity: 0.3;
}

.library {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.library:last-child {
  margin-bottom: 0;
}

.library .title {
  font-size: 22px;
}

.library .icon {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.library svg {
  display: block;
  width: 100%;
  height: 100%;
}

.library .content {
  width: calc(100% - 100px);
}

.links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-list li {
  margin-bottom: 20px;
}

.links-list li a {
  color: #585665;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.links-list li:last-child {
  margin-bottom: 0;
}

.links-list li .icon {
  width: 38px;
  height: 38px;
  display: block;
  background-color: #D8D4F1;
  border-radius: 100%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-list li .link {
  width: calc(100% - 53px);
}

.links-list li .icon svg {
  display: block;
  fill: #422FBD;
  width: 16px;
  height: 16px;
}

.links-list li a:focus {
  outline: none;
}

.links-list li a:hover {
  color: #1E1950;
}

.button {
  display: inline-flex;
  border: 1px solid #422FBD;
  padding: 6px 10px;
  color: #422FBD;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

.button svg {
  width: 16px;
  height: 16px;
  display: block;
  fill: #422FBD;
  transition: all 0.3s ease;
  margin-right: 8px;
}

.button:hover {
  background-color: #422FBD;
  color: #fff;
}

.button:hover svg {
  fill: #fff;
}

.visible-mobile {
  display: block;
}

.visible-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .visible-desktop {
    display: block;
  }

  .visible-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1400px;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -20px;
  }

  .col {
    padding: 0 20px;
  }

  .col.left-col {
    width: 38%;
    order: 1;
  }

  .col.right-col {
    width: 72%;
    order: 2;
  }

  .box .box-content {
    padding: 30px;
  }

  .timeline-item {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .timeline-item .content {
    width: calc(100% - 150px);
  }

  .timeline-item .headline {
    justify-content: flex-start;
  }

  .timeline-item .date::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #1E1950;
    position: absolute;
    right: 34px;
    top: 9px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .timeline-item .date::after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #1E1950;
    position: absolute;
    right: 30px;
    top: 5px;
  }

  .timeline-item .date {
    margin-bottom: 0;
  }
}
